
[submodule "src/lisp/rfc-docs"]
	path = src/lisp/rfc-docs
	url = git@github.com:esac-io/rfc-docs.git
[submodule "src/lisp/dash-docs"]
	path = src/lisp/dash-docs
	url = git@github.com:esac-io/dash-docs.git
