
[submodule "src/lisp/rfc-docs"]
	path = src/lisp/rfc-docs
	url = git@github.com:esac-io/rfc-docs.git
[submodule "src/lisp/dash-docs"]
	path = src/lisp/dash-docs
	url = git@github.com:esac-io/dash-docs.git
[submodule "src/lisp/magit"]
	path = src/lisp/magit
	url = https://github.com/magit/magit.git
[submodule "src/lisp/cannon"]
	path = src/lisp/cannon
	url = https://github.com/esac-io/cannon
[submodule "src/lisp/exwm"]
	path = src/lisp/exwm
	url = https://github.com/ch11ng/exwm
[submodule "src/lisp/xelb"]
	path = src/lisp/xelb
	url = https://github.com/ch11ng/xelb
[submodule "src/lisp/browse-kill-ring"]
	path = src/lisp/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "src/lisp/lex"]
	path = src/lisp/lex
	url = https://github.com/esac-io/lex
[submodule "src/lisp/rsync.el"]
	path = src/lisp/rsync.el
	url = https://github.com/esac-io/rsync.el.git
[submodule "src/lisp/slime"]
	path = src/lisp/slime
	url = https://github.com/slime/slime.git
[submodule "src/lisp/wall-el"]
	path = src/lisp/wall-el
	url = https://github.com/lambdart/wall-el
[submodule "src/lisp/ddoc"]
	path = src/lisp/ddoc
	url = https://github.com/lambdart/ddoc.git
[submodule "with-editor"]
	path = src/lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "src/lisp/dash.el"]
	path = src/lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "transient"]
	path = src/lisp/transient
	url = https://github.com/magit/transient.git
[submodule "emacs-async"]
	path = src/lisp/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "s"]
	path = src/lisp/s
	url = https://github.com/magnars/s.el
[submodule "dictionary"]
	path = src/lisp/dictionary-el
	url = https://github.com/myrkr/dictionary-el.git
[submodule "ag"]
	path = src/lisp/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "lazy"]
	path = src/lisp/lazy
	url = https://github.com/esac-io/lazy.git
[submodule "yaml-mode"]
	path = src/lisp/yaml-mode
	url = https://github.com/yaml/yaml-mode
